@font-face{
	font-family: "DroidSans";
	src:url('../../font/DroidSans.ttf');
	src: url('../../font/droidsans-webfont.eot?iefix') format('opentype'),
         url('../../font/droidsans-webfont.woff') format('woff'),
         url('../../font/droidsans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: "DroidSans-Bold";
	src:url('../../font/DroidSans-Bold.ttf');
	src: url('../../font/droidsans-bold-webfont.eot?iefix') format('opentype'),
         url('../../font/droidsans-bold-webfont.woff') format('woff'),
         url('../../font/droidsans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: "Oswald-Bold";
	src:url('../../font/Oswald-Bold.ttf');
	src: url('../../font/oswald-bold-webfont.eot?iefix') format('opentype'),
         url('../../font/oswald-bold-webfont.woff') format('woff'),
         url('../../font/oswald-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: "Oswald";
	src:url('../../font/Oswald-Regular.ttf');
	src: url('../../font/oswald-regular-webfont.eot?iefix') format('opentype'),
         url('../../font/oswald-regular-webfont.woff') format('woff'),
         url('../../font/oswald-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html,body{
	height:100%;
	font-family: "DroidSans";
	font-size: 16px;
}
@media(max-width:1600px){
	.owl-pagination{
		top:80%!important;
	}
	.bgAbout2 .row {
	    padding-top: 50px !important;
	}
}
@media(max-width:1367px){
	/* .bgHome{
		height:85%!important;
	} */
	.bgBtn a button{
		margin-top: 2%!important;
	}
	.textAbout{
		padding: 100px 0 78px 0 !important;
	}
	.bgAbout2 .gmap iframe{
		width: 100% !important;
	    height: 350px !important;
	}
	.bgText{
		padding-top: 10%!important;
	}
}
@media(max-width:1350px){
	.textAbout{
		padding: 50px 0 39px 0 !important;
	}
	.bgText{
		padding-top: 10%!important;
	}

}
@media(max-width:1280px){
	.textAbout{
		padding: 50px 0 72px 0 !important;
	}
	.bgText{
		padding-top: 12%!important;
	}
}
@media(max-width:1240px){
	html,body{
		font-size: 13px!important;	
	}
	.bgBtn a button{
		margin-top: 5%!important;
	}
	.owl-pagination{
		top:80%!important;
	}
	.imgLogo{
		padding-right: 0!important;
	}
	.bgServices, .bgContact{
		background: none!important;
	}
	.galleryPage{
		padding-top: 150px!important; 
		margin-bottom: 160px!important;
	}
}
@media(max-width:1024px){
	html,body{
		font-size: 12px!important;	
	}
	.header, .headermenu{
		height:80px!important;
	}
	.dividerText p{
		margin-top: 0!important;
	}
	.btnHome button{
		margin-top: 0!important;
	}
	.bgHome, .bgAbout, .bgAbout1, .bgAbout2, .bgFacility, .bgGallery, .bgContact{
		background: none!important;
	}
	.bgAbout{
		border-bottom: 1px solid #888!important;
		/*height: 90%!important;*/
	}
	.titleAbout{
		color:#0000ff!important;
		text-shadow:none!important;
	}
	.textAbout{
		padding: 50px 0!important;
	}
	.bgAbout2 .row {
	    padding-top: 0!important;
	}
	.textTitle, .textDetail{
		padding: 0 20px!important;
	}
	.galleryPage{
		margin-bottom: 180px!important;
	}
	.bgHome{
		height: 500px!important;
	}
}
@media(max-width:991px){
	.bgAbout1{
		height: auto !important;
	}
	.bgAbout1 .bgDivider{
		position: initial !important;
	}
	.bgAbout2{
		display: block!important;
		height: auto !important;
	}
	.bgText{
		padding-top: 24%!important;
	}
	.bgLogo{
		display:none!important;
	}
	.servicePage{
		margin-bottom: 60px!important;
	}
	.titleAbout{
		margin-top: 50px!important;
	}
	.galleryPage{
		padding-top: 170px!important;
		margin-bottom: 200px!important;
	}
	.left{
		border-right: none!important;
	}
	.right #name{
		margin-bottom: 20px;
	}
	.footer{
		top:auto!important;
	}
}
@media(max-width:768px){
	/*.bgAbout1{
		height: 55%!important;
	}*/
	.bgAbout2{
		height: 70%!important;
	}
}
@media(max-width:767px){
	html,body{
		font-size: 10px!important;	
	}
	.bgText{
		padding-top: 12%!important;
	}
	.header, .headermenu{
		height:60px!important;
	}
	.sliderHome{
		top:60px;
	}
	.dividerHome{
		height:65px!important;
	}
	.bgText{
		margin-top: 50px!important;
	}
	.bgHome{
		height: 250px!important;
	}
	.owl-pagination{
		left:40%!important;
	}
	.textoverlay{
		display: none!important;
	}
	.btnHome button{
		position: absolute!important;
		float:left!important;
	}
	.dividerHome{
		padding:10px 0!important;
	}
	/* .bgDivider{
		bottom:120px!important;
	} */
	.dividerText p:first-child{
		font-size: 150%!important;
	}
	.dividerText p{
		font-size: 80%!important;	
	}
	.btnHome button{
		font-size: 80%!important;	
	}
	.bgAbout2 iframe{
		height:100%!important;
	}
	.textAbout{
		/*padding: 100px 0!important;*/
	}	
	.bgAbout{
		/*height: 100%!important;*/
		/*min-height: 700px!important;*/
	} 
	.bgAbout2{
		/*height: 50%!important;*/
		/*margin-top:50px;*/
	}
	.bgAbout2 .row{
		/*padding-top: 50px!important;*/
		margin: 0 20px!important;
	}
	.textLocation{
		margin-top: 20px!important;
		margin-bottom: 20px!important;
	}
	.footer{
		top:0!important;
		margin-top: 100px;
	}
	.footer-big{
		display: none;
	}
	.footer-small{
		display: block!important;

	}
	.footer-menu{
		padding: 0 15%!important;
	}
	.servicePage{
		margin-bottom: 90px!important;
	}	
	.overflowFacility ul{
		margin:0!important;
	}
	.galleryPage{
		padding-top: 140px!important; 
		margin-bottom: 160px!important;
	}
	.facilityPage{
		padding-top: 170px!important;
	}
	.specServices {
		padding-top: 50px!important; 
	}
	.contactPage{
		padding-top: 150px!important;
	}
}
@media(max-width: 640px){
	.facilityPage{
		padding-top: 140px!important;
		margin-bottom: 50px!important;
	}
	.galleryPage{
		padding-top: 140px!important;
	}
	.servicePage{
		padding-top: 50px!important; 
		margin-bottom: 90px!important;
	}
	.contactPage{
		padding-top: 140px!important;
		margin-bottom: 0!important;
	}
	.office{
		margin-top: 20px!important;
	}
	.servicePage .salesServices:last-child {
		margin-bottom: 0!important;
	}
	.detailFacility{
		margin-bottom: 0!important;	
	}
	.specServices {
		/*padding-top: 30px!important; */
	}
}
@media(max-width: 600px){
	.specServices {
		padding-top: 50px!important; 
	}
	.servicePage{
		margin-bottom: 80px!important;
	}
	.contactPage{
		/*padding-top: 110px!important;*/
	}
}
@media(max-width:481px){
	/* .bgAbout1{
		height: 65%!important;
	} */
}
@media(max-width:420px){
	/* .bgAbout1{
		height: 80%!important;
	} */
	.bgAbout2{
		height: 70%!important;
	}
}
@media(max-width: 400px){
	.contactPage{
		padding-top: 100px!important;
	}
	.galleryPage{
		padding-top: 100px!important; 
	}
	.specServices {
		padding-top: 0!important; 
	}
	.facilityPage{
		padding-top: 80px!important;
	}
	.servicePage{
		margin-bottom: 75px!important;
	}
	.bgAbout2{
		height: 100% !important;
	}
}
@media(max-width:361px){
	/*.bgAbout1{
		height: 100%!important;
	}*/
	.bgAbout2{
		height: 80%!important;
	}
}
@media(max-width:321px){
	/*.bgAbout1{
		height: 150%!important;
	}*/
	.bgAbout2{
		height: 100%!important;
	}
}
a{
	color:inherit;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color:#7f8c8d;	
}
li{
	list-style: none;
}
.lang-icon {
    margin-bottom: 10px;
}
img.icon-small {
    margin-left: 3px;
    margin-right: 3px;
}

/* pagination */
.pagination{
	float: right;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #fff;
    background-color: #0000ff;
    border-color: #0000ff;
}
.pagination>li>a, .pagination>li>span {
    color: #0000ff;
    background-color: transparent;
    border: 1px solid #0000ff;
    margin-left: 5px;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    color: #fff;
    background-color: #0000ff;
    border-color: #0000ff;
}
/* pagination */

/*header*/
.header{
	position: fixed;	
	height:110px;
	width: 100%;
/*	background-color: #0000ff;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";*/
	background: url('../../img/header.png') repeat;
	color:white;
	vertical-align: middle;
	z-index: 10;
}
.imgLogo{
	padding-right: 5%;
	/*margin:0;*/
	/*padding:0;*/
}
.language{
	text-align: center;
	top:45%;
	letter-spacing: 2px;
	margin:0;
	padding:0;
	cursor:pointer;
}
.lang_menu{
    border: none;
	background: transparent;
}
.bahasa{
	padding-right: 10px;
}
.english{
	padding-left: 10px;
}
.imgMenu{
	top:35%;
	margin:0;
	padding:0;
	cursor:pointer;
}
.closeMenu {
	cursor:pointer;	
}
/*header*/

/*footer*/
.footer{
	width: 100%;
	border-top: 1px solid #0000ff;
	position: relative!important;
	padding-top: 16px;
	padding-bottom: 16px;
	top: -120px;
}
.footer-small{
	display: none;
}
.footer-content{
	/* margin-top:25px; */
	/*margin-bottom:25px;*/
}
.footer-logo{
	text-align: center;
}
.get-touch{
	margin-top: 12px;
	margin-left: 0px;
	padding-right: 0;
	padding-left: 0;
	color:#0000ff;
	font-size: 150%;
	font-family: "Oswald";
}
.get-touch{
	text-align: center;
}
.footer-menu{
	padding: 0;
	margin-top: 20px;
}
.footer-menu span{
	/*float: right;*/
}
.footer-menu span a{
	padding-left: 10px;
	padding-right: 10px;
}
/*footer*/

/*menu*/
.menu{
	min-height: 100%!important;
	width: 100%;
	background-color: #0000ff;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	position: fixed;	
	z-index: 11;
	display:none;
	color:white;
}
.headermenu{
	position: fixed;	
	height:110px;
	color:white;
	vertical-align: middle;
	z-index: 10;
}
.menu .language{
	/*padding-top: 50px;*/
}
.closeMenu{
	margin-top:35px;
	padding-left: 5px;
}
.menu-container{
	font-size:130%;
	padding:5% 0;
}
.menu-container li{
	padding:25px;
	border-bottom: 1px solid white;
}
.menu-container span{
	padding-left: 15px;
	font-size: 80%;
}
/*menu*/

/*home*/
.sliderHome{
	width:100%;
	height: auto;
}
.sliderHome img{
	width:100%;
}
.item{
	padding:0;
}
.textoverlay{
	position: absolute;
	padding:0;
	margin-top:15%;
	color:white;
	width: 100%;
	text-align: center;
	/*left:50%;
	margin-right: -50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
   -moz-transform: translate(-50%,0); 
   -ms-transform: translate(-50%,0); 
   -o-transform: translate(-50%,0);*/
}
.textoverlay p:first-child{
	font-family: "Oswald-Bold";
	font-size: 700%;
}
.textoverlay p{
	font-family: "DroidSans-Bold";
	font-size:200%;
	color:white;
	/*margin:0 auto;*/
}
.owl-pagination{
	position: absolute;
	left:60%;
	top:65%;
}
.owl-controls{
	margin:0!important;
}
.owl-pagination .owl-page{
	padding:5px;
}
.owl-pagination .owl-page span{
	width: 20px!important;
    height: 20px!important;
    border-radius: 20px;
    -webkit-border-radius: 20px;
	-moz-border-radius: 20px;
    border: 3px solid #fff;
	z-index:100;
	background: white!important;
	opacity: 1!important;
}
.owl-pagination .active span{
	background: #0000ff!important;
}
.bgHome{
	background: url("../../img/home-2.jpg") no-repeat;
	position: relative!important;
	height: 74%;
}
.bgText{
	font-size: ;
	padding-top: 12%;
	color:#383838;
}
.bgText .first-child{
	font-size: 500%;
	font-family: "Oswald-Bold";
	line-height: 1;
	margin-bottom: 0;
}
.bgText p{
	font-size: 300%;
	font-family: "Oswald";	
	letter-spacing: -1px;
}
.bgBtn button{
	font-family: "Oswald-Bold";
	font-size: 120%;
	margin-top: 5%;
	padding:10px 40px;
	background-color: transparent;
	color:#0000ff;
	border-radius: 0;
	border-left:1px solid #0000ff;
	border-bottom:1px solid #0000ff;
	border-right:1px solid #0000ff;
	border-top:1px solid #0000ff;
}
.dividerHome{
	background-color: #e8e8e9;
	height:110px;
	padding:20px 0;
	/*position: relative;*/
}
.dividerText{
	/*margin-right: 70px;*/
}
.dividerText p:first-child{
	color:#0000ff;
	font-size: 200%;
	margin-bottom: 0;
}
.dividerText p{
	margin-top: 15px;
	color:#383838;
}
.btnHome{
	text-align: center;
}
.btnHome button{
	margin-top: 15px;
	float:right;
	background-color: #0000ff;
	color:white;
	padding:10px 20px;
	border-radius: 0;
	font-size: 100%;
}
/*home*/

/*about*/
.bgAbout{
	background: url("../../img/about.jpg") no-repeat;
	background-size: cover;
	width:100%;
	/*height:100%;*/
	padding-top: 15%;
}
.bgAbout1{
	background: url("../../img/about-1.jpg") no-repeat;
	background-size: cover;
	width:100%;
	height:100%;
	position: relative;
}
.titleAbout{
	color:white;
	font-size: 200%;
	font-family: "DroidSans-Bold";
	text-shadow: 1px 1px #000;
}
.titleAbout p:first-child{
	font-size: 400%; 
	line-height: 1;
	font-family: Oswald-Bold;
}
.boxAbout{
	z-index:5;
	background-color: #767676;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	width: 100%;
	color:white;
	padding: 50px;
	margin-bottom: 50px;
}
.boxAbout div:first-child{
	line-height: 25px;
	font-size: 120%;
}
.boxAbout .visi_title, .boxAbout .misi_title{
	font-size: 120%;
}
.boxAbout div:last-child p:last-child{
	margin-top: 10px;
}
.bgAbout2{
	background: url("../../img/about-2.jpg") no-repeat;
	background-size: cover;
	width:100%;
	height:100%;
	/*position: relative!important;*/
}
.textAbout{
	font-family: "DroidSans-Bold";
	padding:200px 0;
}
.textTitle{
	color:#0000ff;
	font-size: 175%;
	line-height: 1.2;
	font-family: "DroidSans";
}
.textTitle p:first-child{
	font-family: "Oswald-Bold";
	font-size: 300%;	
	margin-bottom: 0;
}
.textDetail{
	margin-top: 40px;
	padding-left: 0;
	padding-right: 35px; 
}
.bgAbout1 .bgDivider{
	background-color: #626769;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	position: absolute;
	bottom: 0;
	width:100%;
	color: white;
	padding:50px 0;
	vertical-align: middle;
}
.bgAbout1 .bgDivider div:first-child{
	padding-right: 20px;
}
.bgLogo img{
	width: 100%;
	max-width:100%;
	margin: auto;
}
.bgAbout2 .row{
	padding-top:100px;
}
.gmap{
	border: 10px solid white;
	padding:0;
}

.bgAbout2 .gmap iframe{
    width: 100%;
    height: 500px;
}
.textLocation{
	margin-top: 50px;
	padding-bottom: 50px;
}
.textLocation .col-md-4{
	color:#0000ff;
	font-family: "Oswald-Bold";
	font-size: 250%;
	padding: 0;
}
.textLocation .col-md-8{
	padding: 0;
}
/*about*/

/*services*/
.bgServices{
	background: url("../../img/services.jpg") no-repeat fixed center top;
}
.servicePage{
	padding-top: 150px;
	margin-bottom: 150px;
}
.specServices p, .marketServices p:first-child{
	font-family: "Oswald";
	font-size: 300%;
	padding: 30px 0;
}
.marketServices p:last-child{
	font-family: "Oswald";
	font-size: 200%;
	margin-top:-30px;
}
.email1{
	padding-left: 58px;
}
.phone1{
	padding-left: 155px;
}
.servicePage .salesServices{
	padding-left: 10px;
}
.servicePage .salesServices:last-child{
	margin-top: 20px;
	margin-bottom: 120px;
}
/*services*/

/*facility*/
.bgFacility{
	background: url("../../img/facility.jpg") no-repeat fixed center top;
}
.facilityPage{
	padding-top: 200px;
	margin-bottom: 120px;
}
/*.overflowFacility, .overflowGroups{
	height:60%;
	position: absolute;
	margin-top: 10%;
}*/
.overflowFacility p:first-child{
	color: #0000ff;
	font-size: 500%;
	font-family: "Oswald-Bold";
	line-height: 1;
}
.overflowFacility span{
	font-size: 130%;
	font-family: "DroidSans-Bold"!important;	
}
.facilityList{
	margin-left: 25px;	
}
.overflowFacility ul{
	margin-top: 25px;
}
.overflowFacility li{
	list-style-type: disc;
	color:#0000ff; 
}
.overflowFacility ul li p{
	color:#333!important;
	font-size: 100%!important;
	margin: 0;
	padding: 5px;
	font-family: "DroidSans"!important;
}
.detailFacility{
	margin-top:50px;
	margin-bottom: 40px;
}
.detailFacility .column p span{
	color: #383838 !important;
	font-family: "DroidSans" !important;
	font-size: 100% !important;
	line-height: 120% !important;
}
.detailFacility div{
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px; 
}
/*facility*/

/*contact*/
.bgContact{
	background: url("../../img/facility.jpg") no-repeat fixed center top;
}
.contactPage{
	padding-top: 200px;
	margin-bottom: 120px;
}
.overflowContact{
	margin-bottom: 50px;
}
.left{
	border-right: 1px solid #898989;
	height: 90%;
	margin-bottom: 50px;
}
.office{
	margin-top: 50px;
	margin-bottom: 20px;
}
.overflowContact .left p:first-child{
	/*color: #000;*/
	font-size: 250%;
	font-family: "Oswald-Bold";
	line-height: 1;
}
.overflowContact .left .office bold{
	font-family: "Oswald-Bold" !important;
	line-height: 150% !important
}
.overflowContact .left .office p{
	line-height: 150% !important;
}
.overflowContact .right p:first-child{
	color: #0000ff;
	font-size: 250%;
	font-family: "Oswald-Bold";
	line-height: 1;
}

.submit_btn{
	float: right;
	font-family: "Oswald-Bold";
	font-size: 100%;
	padding:10px 40px;
	background-color: transparent;
	color:#0000ff;
	border-left:1px solid #0000ff;
	border-bottom:1px solid #0000ff;
	border-right:1px solid #0000ff;
	border-top:1px solid #0000ff;
	border-radius:0 !important;
}

.contactForm input.form-control, .contactForm select.form-control{
	height: 50px !important;
	border-radius:0 !important;	
}
/*contact*/

/* gallery */
.bgGallery{
	background: url("../../img/gallery.jpg") no-repeat;
}
.galleryPage{
	padding-top: 200px;
	margin-bottom: 170px;
}
.titleGallery{
	font-size: 200%;
	font-family: "DroidSans-Bold";
	text-shadow: 1px 1px #000;
	margin-bottom: 25px;
}
.titleGallery p{
	color: #0000ff;
	font-size: 300%;
	font-family: "Oswald-Bold";
	line-height: 1;
}
.border_image {
	background: #fff;
    border: 1px solid #959595;
    padding: 15px;
    margin-bottom: 20px;
}
.image_gallery{
	width:100%!important;
}
/* gallery */

/*groups*/
.partners{
	padding:20px 0;
	border-top: 1px solid #0000ff;
}
.partners:first-child{
	border-top:0;	
}
.partnerName{
	color: #0000ff;
	font-family: "Oswald";
	font-size: 200%;
}
.partnerDetail{
	line-height: 30px;
	font-size: 120%;
}
.partnerContact{
	margin-top: 25px; 
	font-size: 150%;
	font-family: "Oswald-Bold";
}
.partnerAddress{
	margin-top: 25px;
	font-size: 80%;
	line-height: 25px;
}
.partnerAddress .office{
	margin:0;
	font-family: "DroidSans-Bold";
}
/*groups*/

/*login*/
.admin{
	background: #DCDDDF;
	color: #000;
	font: 14px Arial;
	margin: 0 auto;
	padding: 0;
	position: relative;
	height: 100%;
	font-family: ""DroidSans"";
}
#content {
	top: 200px;
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow: 0 1px 0 #fff inset;
	-ms-box-shadow: 0 1px 0 #fff inset;
	-o-box-shadow: 0 1px 0 #fff inset;
	box-shadow: 0 1px 0 #fff inset;
	border: 1px solid #c4c6ca;
	margin: 0 auto;
	padding: 25px 0 0;
	position: relative;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	width: 400px;
	height: 400px;
}
#content .header{
	margin-left: 6.7%;	
}
#content p{
	color: #333;
	font: bold 150% "DroidSans";
}
#content h1 {
	color: #333;
	font: bold 150% "DroidSans";
	letter-spacing: -0.05em;
	line-height: 20px;
	margin: 10px 0 30px;
}
#content h1:before,
#content h1:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 10px;
	width: 27%;
}
#content h1:after {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(left,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(left,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    right: 0;
}
#content h1:before {
	background: rgb(126,126,126);
	background: -moz-linear-gradient(right,  rgba(126,126,126,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(right,  rgba(126,126,126,1) 0%,rgba(255,255,255,1) 100%);
    left: 0;
}
#content:after,
#content:before {
	background: #f9f9f9;
	background: -moz-linear-gradient(top,  rgba(248,248,248,1) 0%, rgba(249,249,249,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	background: linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(249,249,249,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f9f9f9',GradientType=0 );
	border: 1px solid #c4c6ca;
	content: "";
	display: block;
	height: 100%;
	left: -1px;
	position: absolute;
	width: 100%;
}
#content:after {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
	top: 0;
	z-index: -1;
}
#content:before {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	transform: rotate(-3deg);
	top: 0;
	z-index: -2;
}
#content form { margin: 0 20px; position: relative }
#content form input[type="text"],
#content form input[type="password"] {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: #eae7e7 url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) no-repeat;
	border: 1px solid #c8c8c8;
	color: #777;
	font: 13px Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	padding: 15px 10px 15px 40px;
	width: 80%;
}
#content form input[type="text"]:focus,
#content form input[type="password"]:focus {
	-webkit-box-shadow: 0 0 2px #ed1c24 inset;
	-moz-box-shadow: 0 0 2px #ed1c24 inset;
	-ms-box-shadow: 0 0 2px #ed1c24 inset;
	-o-box-shadow: 0 0 2px #ed1c24 inset;
	box-shadow: 0 0 2px #ed1c24 inset;
	background-color: #fff;
	border: 1px solid #ed1c24;
	outline: none;
}
#username { background-position: 10px 10px !important }
#password { background-position: 10px -53px !important }
#content button[type="submit"] {
	background: rgb(254,231,154);
	background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	background: linear-gradient(top,  rgba(254,231,154,1) 0%,rgba(254,193,81,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fee79a', endColorstr='#fec151',GradientType=0 );
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.8) inset;
	border: 1px solid #D69E31;
	color: #85592e;
	cursor: pointer;
	float: right;
	font: bold 15px Helvetica, Arial, sans-serif;
	height: 35px;
	margin: 20px 35px;
	position: relative;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	width: 120px;
}
#content button[type="submit"]:hover {
	background: rgb(254,193,81);
	background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -o-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: -ms-linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	background: linear-gradient(top,  rgba(254,193,81,1) 0%,rgba(254,231,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec151', endColorstr='#fee79a',GradientType=0 );
}
#content form div a {
	color: #004a80;
    float: right;
    font-size: 12px;
    margin: 30px 15px 0 0;
    text-decoration: underline;
}
.button {
	background: rgb(247,249,250);
	background: -moz-linear-gradient(top,  rgba(247,249,250,1) 0%, rgba(240,240,240,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -o-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: -ms-linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	background: linear-gradient(top,  rgba(247,249,250,1) 0%,rgba(240,240,240,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f9fa', endColorstr='#f0f0f0',GradientType=0 );
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1) inset;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
	border-top: 1px solid #CFD5D9;
	padding: 15px 0;
}
.button a {
	background: url(http://cssdeck.com/uploads/media/items/8/8bcLQqF.png) 0 -112px no-repeat;
	color: #7E7E7E;
	font-size: 17px;
	padding: 2px 0 2px 40px;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.button a:hover {
	background-position: 0 -135px;
	color: #00aeef;
}
/*login*/

/*admin*/
.display-none{
	display:none;
}
/*admin*/